ipykernel==5.1.4
ipython==7.13.0
ipywidgets==7.5.1
ipympl==0.5.8
jupyter==1.0.0
jupyterlab==2.2.9 
matplotlib==3.3.3
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.1.5
numpy==1.19.4
pandas==1.0.1
scipy==1.4.1
widgetsnbextension==3.5.1
virtualenv==20.0.10

#matplotlib==3.3.2         # via -r requirements.in, ipympl
#nbconvert==6.0.7          # via notebook
#nbformat==5.0.8           # via ipywidgets, nbclient, nbconvert, notebook
#numpy==1.19.4             # via -r requirements.in, matplotlib, pandas, scipy
#pandas==1.1.4             # via -r requirements.in
#scipy==1.5.4              # via -r requirements.in
