# Jupyter
jupyterlab
nodejs
npm
ipython
jupyter
jupyter-contrib-nbextensions
widgetsnbextension
nbconvert
nbformat
notebook

# Python Kernel
ipywidgets
bqplot
matplotlib
numpy
pandas
scipy
virtualenv
hide-code
ipympl
